## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:-A database is a collection of structured data that is organized and stored in a way that enables efficient retrieval, updating, and management of the data. Databases are commonly used in various applications such as websites, enterprise systems, and mobile applications to store and manage data.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two types of databases that differ in their data models, query languages, and scalability.

SQL databases are based on the relational data model, which organizes data into tables with rows and columns. SQL databases use SQL as their query language to retrieve and manipulate data. SQL databases are known for their strong consistency, ACID (Atomicity, Consistency, Isolation, Durability) compliance, and ability to handle complex transactions. Examples of SQL databases include MySQL, Oracle, PostgreSQL, and SQL Server.

NoSQL databases, on the other hand, use various data models such as document, key-value, graph, or column-family to store and manage data. NoSQL databases are designed to handle unstructured or semi-structured data, which is not suitable for a relational data model. NoSQL databases use different query languages depending on the data model they use, and they are known for their high scalability, flexibility, and availability. However, NoSQL databases sacrifice strong consistency for high scalability, and they are usually eventual consistent, which means that data consistency is achieved over time rather than immediately. Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Amazon DynamoDB.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:-DDL (Data Definition Language) is a set of SQL statements used to create, modify, and delete database objects such as tables, indexes, and constraints. DDL statements are used to define the schema of a database and are essential for creating and managing the database structure.

CREATE: The CREATE statement is used to create new database objects such as tables, indexes, and views. For example, to create a new table named "employees" with columns for employee ID, name, and salary, you can use the following SQL statement:

eg:-CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    salary DECIMAL(10, 2) NOT NULL
);

DROP: The DROP statement is used to delete existing database objects such as tables, indexes, and views. For example, to drop the "employees" table created in the previous example, you can use the following SQL statement:

eg:-DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of existing database objects such as tables, indexes, and views. For example, to add a new column named "department" to the "employees" table, you can use the following SQL statement:

eg:-ALTER TABLE employees ADD COLUMN department VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to delete all data from a table without deleting the table structure. For example, to remove all data from the "employees" table created in the previous example, you can use the following SQL statement:

In [ ]:
eg:-TRUNCATE TABLE employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:-DML (Data Manipulation Language) is a set of SQL statements used to manipulate data stored in a database. DML statements are used to insert, update, and delete records in a table and are essential for managing the data within the database.

Here are some examples of DML statements and their uses:

INSERT: The INSERT statement is used to add new records to a table. For example, to add a new employee with an ID of 101, a name of "John Smith", and a salary of $50,000 to the "employees" table, you can use the following SQL statement:

eg:-INSERT INTO employees (id, name, salary) VALUES (101, 'John Smith', 50000);

UPDATE: The UPDATE statement is used to modify existing records in a table. For example, to update the salary of the employee with an ID of 101 to $60,000, you can use the following SQL statement:

eg:-UPDATE employees SET salary = 60000 WHERE id = 101;

DELETE: The DELETE statement is used to remove records from a table. For example, to delete the record for the employee with an ID of 101 from the "employees" table, you can use the following SQL statement:

eg:-DELETE FROM employees WHERE id = 101;

## Q4. What is DQL? Explain SELECT with an example.

Ans:-DQL (Data Query Language) is a set of SQL statements used to retrieve data from a database. DQL statements are used to perform queries on one or more tables in a database and are essential for retrieving and analyzing data.

Here is an example of a DQL statement and its use:

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. For example, to retrieve all the data from the "employees" table, you can use the following SQL statement:

eg:-SELECT * FROM employees;

## Q5. Explain Primary Key and Foreign Key.

Ans:-A primary key and a foreign key are both important concepts in relational database design.

Primary Key: A primary key is a column or set of columns in a table that uniquely identifies each record in the table. The primary key ensures that each record in the table is uniquely identified and can be used as a reference by other tables in the database. A primary key must be unique and cannot contain null values.

For example, in a table called "employees", the employee ID column could be used as the primary key. This ensures that each employee record in the table is uniquely identified and can be referenced by other tables in the database that need to relate to the employee record.

Foreign Key: A foreign key is a column or set of columns in one table that refers to the primary key of another table in the database. The foreign key establishes a relationship between two tables, allowing data to be joined and related between tables.

For example, in a table called "orders", the customer ID column could be used as a foreign key that refers to the primary key of the "customers" table. This allows the "orders" table to reference and relate to the corresponding customer record in the "customers" table.

It's important to note that a foreign key must refer to an existing primary key in another table. If the primary key referenced by a foreign key is deleted or modified, the corresponding foreign key values in the referring table may need to be updated or deleted as well to maintain referential integrity.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans:-import mysql.connector

# Establishing a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Creating a cursor object to interact with the database
mycursor = mydb.cursor()

# Executing a SQL query using the execute() method
mycursor.execute("SELECT * FROM employees")

# Fetching the result using fetchall() method
result = mycursor.fetchall()

# Printing the result
for row in result:
  print(row)

In this code, we first import the mysql.connector module and establish a connection to the MySQL database using the mysql.connector.connect() method. We provide the database details such as host, user, password, and database name as arguments to this method.

We then create a cursor object using the cursor() method. A cursor is used to execute SQL queries on the database and retrieve data from the tables.

Next, we execute a SQL query using the execute() method on the cursor object. The SQL query "SELECT * FROM employees" selects all rows and columns from the "employees" table.

We then fetch the result of the query using the fetchall() method on the cursor object. This method returns all rows of the result set.

Finally, we print the result by iterating over the rows using a for loop.

In summary, the cursor() method creates a cursor object to interact with the database, and the execute() method executes a SQL query on the database using the cursor object. These methods are essential for interacting with and retrieving data from a MySQL database using Python.

## Q7. Give the order of execution of SQL clauses in an SQL query.

Ans:-In general, the order of execution of SQL clauses in an SQL query is as follows:

FROM: Specifies the tables from which the data will be retrieved.
WHERE: Filters the rows based on the specified conditions.
GROUP BY: Groups the rows based on one or more columns.
HAVING: Filters the groups based on the specified conditions.
SELECT: Selects the columns to retrieve from the specified tables.
DISTINCT: Filters out duplicate rows from the result set.
ORDER BY: Sorts the result set based on one or more columns.
LIMIT/OFFSET: Limits the number of rows returned and specifies the starting row.
It's important to note that not all clauses are required in every query and the order of execution may vary depending on the specific query being executed. Additionally, some database systems may have slightly different implementations or optimizations for query execution, but the general order described above is a good guideline to follow when constructing SQL queries.